*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  min-width: 990px;
}

.orange {
  background-color: #ff9a4b;
}

.outer-box {
  width: 990px;
  margin: 20px auto;
  display: flex;
}

.inner-box {
  width: 300px;
  margin: 15px;
  padding: 10px;
  display: inline-block;
  background-color: #eee;
  position: relative;
}

.step {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.image1 {
  height: 150px;
  background-image: url(img-exercise/flow01.png);
  background-size: cover;
  background-position: bottom center;
}

.image2 {
  height: 150px;
  background-image: url(img-exercise/flow02.png);
  background-size: cover;
  background-position: bottom center;
}
.image3 {
  height: 150px;
  background-image: url(img-exercise/flow03.png);
  background-size: cover;
  background-position: bottom center;
}

h3 {
  margin-top: 15px;
}

p {
  margin-top: 5px;
}

footer {
  height: 50px;
  background-color: #aaa;
}