*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  min-width: 990px;
}

.orange {
  background-color: #ff9a4b;
}

.outer-box {
  width: 990px;
  margin: 35px auto;
  display: flex;
}

.inner-box {
  width: 300px;
  margin: 15px;
  padding: 10px;
  display: inline-block;
  background-color: #eee;
  position: relative;
}

.step {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.image1 {
  height: 150px;
  background-image: url(img-hw/flow01.png);
  background-size: cover;
  background-position: bottom center;
}

.image2 {
  height: 150px;
  background-image: url(img-hw/flow02.png);
  background-size: cover;
  background-position: bottom center;
}
.image3 {
  height: 150px;
  background-image: url(img-hw/flow03.png);
  background-size: cover;
  background-position: bottom center;
}

h3 {
  margin-top: 15px;
}

p {
  margin-top: 5px;
}

footer {
  height: 50px;
  min-width: 990px;
  background-color: #aaa;
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
    min-width: 0;
  }
  .outer-box {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0 30px;
  }
  .inner-box {
    display: block;
    width: 90%;
    margin: 20px auto 20px;
  }
  footer {
    width: 100%;
    min-width: 0;
  }
}